#container {
    position: absolute;
    background-color: #d95400;
    border-color: gray;
    border-style: solid;
    width: 720px;
    left: -360px;
    margin-left: 50%;
    margin-top: 200px
}

.square {
    width: 20px;
    height: 20px;
    border-width: 2px;
    border-color: orange;
    border-style: solid;
    position: relative;
    display: inline-block;
    float: left;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
}

.covered {
    visibility: hidden;
    background-color: red;
}

.uncovered {
    background-color: #c7edff;
}

.row {
    position: relative;
    display: inline-block;
    float: left;
    clear: both;
}

.flagged {
    background-color: red;
}

.bomb {
    background-color: black;
}

.one {
    color: blue;
}

.two {
    color: green;
}

.three {
    color: red;
}

.four {
    color: black;
}

.five {
    color: purple;
}
